In [1]:
from temp_extract_dataframe import read_json
from temp_extract_dataframe import TweetDfExtractor
from temp_clean_tweets_dataframe import Clean_Tweets

In [20]:
import pandas as pd

In [2]:
if __name__ == "__main__":
    _, tweet_list = read_json("data/Economic_Twitter_Data.json")
    tweet = TweetDfExtractor(tweet_list)
    tweet_df = tweet.get_tweet_df()

In [3]:
tweet_df.shape

(24625, 15)

In [4]:
ct = Clean_Tweets(tweet_df)

Automation in Action...!!!

In [5]:
df_unwanted_dropped = ct.drop_unwanted_column(tweet_df)

In [6]:
df_unwanted_dropped.shape

(24625, 15)

In [7]:
df_duplicate_dropped = ct.drop_duplicate(tweet_df)

In [8]:
df_duplicate_dropped.shape

(24625, 15)

In [9]:
df_with_datetime = ct.convert_to_datetime(tweet_df)

In [10]:
df_with_datetime.shape

(24625, 15)

In [11]:
df_converted_to_numbers = ct.convert_to_numbers(tweet_df)

In [12]:
df_converted_to_numbers.shape

(24625, 15)

In [13]:
df_non_english_removed = ct.remove_non_english_tweets(tweet_df)

In [14]:
df_non_english_removed

Empty DataFrame
Columns: [created_at, source, original_text, polarity, subjectivity, lang, favorite_count, retweet_count, original_author, followers_count, friends_count, possibly_sensitive, hashtags, user_mentions, place]
Index: []

In [55]:
tweet_df.shape

(24625, 15)

In [56]:
tweet_df.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,2022-04-22 22:20:18+00:00,"<a href=""http://twitter.com/download/android"" ...",NaN,-0.1,0.5,de,NaN,355,NaN,NaN,12,NaN,,NaN,NaN
1,2022-04-22 22:19:16+00:00,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,0.5,de,NaN,505,NaN,NaN,12,NaN,,NaN,NaN
2,2022-04-22 22:17:28+00:00,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,0.5,de,NaN,4,NaN,NaN,12,NaN,,NaN,NaN
3,2022-04-22 22:17:20+00:00,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,0.5,de,NaN,332,NaN,NaN,12,NaN,"Deutschen, Spritpreisen, inflation, Abgaben",NaN,NaN
4,2022-04-22 22:13:15+00:00,"<a href=""http://twitter.com/download/android"" ...",NaN,NaN,0.5,de,NaN,386,NaN,NaN,12,NaN,,NaN,NaN

# EDA

In [25]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24625 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24625 non-null  datetime64[ns, UTC]
 1   source              24625 non-null  object
 2   original_text       0 non-null      object
 3   polarity            1 non-null      float64
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      0 non-null      object
 7   retweet_count       24625 non-null  int64
 8   original_author     0 non-null      object
 9   followers_count     0 non-null      object
 10  friends_count       24625 non-null  int64
 11  possibly_sensitive  0 non-null      object
 12  hashtags            24625 non-null  object
 13  user_mentions       0 non-null      object
 14  place               0 non-null      object
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(10)
memory usage: 3.0+ MB

In [26]:
tweet_df.describe()

       polarity  subjectivity  retweet_count  friends_count
count       1.0       24625.0   24625.000000   24625.000000
mean       -0.1           0.5     538.587168    1299.831878
std         NaN           0.0    6045.417765    2939.129745
min        -0.1           0.5       0.000000       0.000000
25%        -0.1           0.5       0.000000     111.000000
50%        -0.1           0.5       1.000000     413.000000
75%        -0.1           0.5      37.000000    1336.000000
max        -0.1           0.5  434379.000000   41866.000000

In [29]:
tweet_df.created_at = pd.to_datetime(tweet_df.created_at)

In [41]:
tweet_df.polarity = pd.to_numeric(tweet_df['polarity'], errors='ignore')
tweet_df.subjectivity = pd.to_numeric(tweet_df['subjectivity'], errors='ignore')
tweet_df.favorite_count = pd.to_numeric(tweet_df['favorite_count'], errors='ignore')
tweet_df.friends_count = pd.to_numeric(tweet_df['friends_count'], errors='ignore')

In [43]:
tweet_df[['polarity'], ['subjectivity'],['favorite_count'],[]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24625 entries, 0 to 24624
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24625 non-null  datetime64[ns, UTC]
 1   source              24625 non-null  object
 2   original_text       0 non-null      object
 3   polarity            1 non-null      float64
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      0 non-null      float64
 7   retweet_count       24625 non-null  int64
 8   original_author     0 non-null      object
 9   followers_count     0 non-null      object
 10  friends_count       24625 non-null  int64
 11  possibly_sensitive  0 non-null      object
 12  hashtags            24625 non-null  object
 13  user_mentions       0 non-null      object
 14  place               0 non-null      object
dtypes: datetime64[ns, UTC](1), float64(3), int64(2), object(9)
memory usage: 3.5+ MB